.fifth-box{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.637);
    position: relative;
}
.links{
    position: absolute;
    left:50px;
    top:50px;
    width: 400px;
    height: 50px;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
    opacity: 0.9;
}

.chvens-shesaxeb{
    position: absolute;
    left: 50px;
    top: 120px;
    color: white;
    width:250px;
    height: 190px;
    cursor: pointer;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1px;
}
.chvens-shesaxeb a{


    color: inherit;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}


.services{
    position: absolute;
    left: 600px;
    top:50px;
    width: 250px;
    height: 40px;
    color: white;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 30px;
    transition-duration: 0.9s;


}
.services-blank{
    position: absolute;
    left: 500px;
    top: 100px;
    width: 350px;
    height: 275px;
    background-color: white;
    transition-duration: 0.5s;
}
.fifth-box-logo{
    position: absolute;
    right:100px;
    top: 50px;
    width: 300px;
    height: 300px;
    transition-duration: 1s;
    border-radius: 12px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9); 

}

.fifth-box-logo img{
    object-fit: cover;
    border-radius: 6px;
    opacity: 0.5;


}


@media (max-width:1410px){
    .fifth-box-logo{
        right: 30px;
    }
}
@media (max-width:1320px){
    .fifth-box-logo{
        visibility: hidden;
        pointer-events: none;
    }
}

@media (max-width:900px){
    .services{
        visibility: hidden;
        pointer-events: none;
    }
    .services-blank{
        visibility: hidden;
        pointer-events: none;
    }
    
}


@media(max-width:499px){
        .links{
            left:10%;
            right: 10%;
            font-size: 25px;
        }

}

@media(max-width:350px){
        .links{
            left:5px;
            right: 10%;
            font-size: 25px;
        }

}
@media(max-width:315px){
        .links{
            left:5%;
            width: 100px;
            font-size: 25px;
        }

}

























